<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700|Martel:400,700"
      rel="stylesheet"
    />
    <title>Dougsworth</title>
  </head>

  <body>
    <header>
      <div class="flex">
        <h3>Dougsworth</h3>
        <ul>
          <li><a title="Resume" href="#">About</a></li>
          <li><a title="Resume" href="resume.html">Projects</a></li>
          <li><a title="Resume" href="resume.html">Resume</a></li>
          <li><a title="Resume" href="resume.html">Contact</a></li>
        </ul>
      </div>
    </header>

    <main>
      <div>
        <section class="about">
          <h1>“xxxxxxxxxxxxxxxxxxxxxx”</h1>
        </section>
        <section class="itemGrid">
          <img src="{{ url_for('static', filename='resources/doug1.png')}}" alt="doug1" class="i1">
        </section>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
